<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        <div class="row">
            {# Génération du label. #}
            {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.description) }}
            <div class="col-sm-12">
                {# Génération de l'input. #}
                {{ form_widget(form.description, {'attr': {'class': 'form-control rows="4" cols="50"'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            {# Génération du label. #}
            {{ form_label(form.groupe, "Groupe :", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.groupe) }}
            <div class="col-sm-12">
                {# Génération de l'input. #}
                {{ form_widget(form.groupe, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="ajout-media">
        {% include 'trick/add/add-video.html.twig' %}{# AJOUT VIDEOS #}
        {% include 'trick/add/add-image.html.twig' %}{# AJOUT IMAGES #}
    </div>
    <div class="row">
        <div class="col-sm-12 envoyer">
            {{ form_widget(form.save, { 'label': 'Mettre à jour', 'attr': {'class': 'btn btn-success col-sm-12 button2'}}) }}
        </div>
        <a href="{{ path('delete', {'id': trick.id}) }}"><button type="button" class=" col-sm-12 btn btn-danger supprimer" >
                Supprimer
            </button></a>
    </div>
    <div class="hidden">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>