{% extends 'base.html.twig' %}

{% block jumbotron %}

    <div class="jumbotron">
         <div class="col-sm-8 mx-auto">
             <div class="well">
                <p class="lead">

                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    {{ form_errors(form) }}

                        {% block form_row %}
                                {% spaceless %}
                                    <div class="form_row">
                                        {{ form_label(form) }}
                                        {{ form_errors(form) }}
                                        {{ form_widget(form) }}
                                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-secondary'}}) }}
                                    </div>
                                {% endspaceless %}
                            {% endblock form_row %}

                    {{ form_rest(form) }}

                    {{ form_end(form) }}
                </p>

            </div>
         </div>
    </div>



{% endblock %}