
<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Tricks web site">
        <meta name="author" content="Jimmy Sweat">
        <title>{% block title %}Jimmy's Tricks{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        {% block stylesheets %}
            <!-- Slylesheet for comment -->
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
            <!-- Bootstrap CDN -->
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <!-- Custom fonts for this template -->
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="{{ asset('css/business-casual.css')}}" rel="stylesheet">
            <link href="{{ asset('css/lightbox.css')}}" rel="stylesheet">
            <link href="{{ asset('css/login.css')}}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
    {% block body %}
            {% block navigation %}
                <!-- Navigation -->
                <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
                    <div class="container">
                        <a class="navbar-brand text-uppercase text-expanded font-weight-bold" href="/liste_add">Jimmy's Tricks</a>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item active px-lg-4">
                                    <a class="nav-link text-uppercase text-expanded" href="/liste_add">Accueil
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" href="{{ path('add') }}">Ajouter</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" href="/login">S'authentifier</a>
                                    </li>
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" href="/register">S'enregistrer</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li class="nav-item px-lg-4">
                                        <a class="nav-link text-uppercase text-expanded" href="/logout">Sortir</a>
                                    </li>
                                    <li>
                                         <div>
                                             <h2 class="user">
                                                  <p>{{ app.user.username }}</p>
                                             </h2>
                                        </div>
                                     </li>
                                    <li>
                                        <div id=container>
                                           <a href="{{ path('update_user', {'id': app.user.id}) }}">
                                               {% if app.user.avatar|length > 0 %}<img src="/uploads/{{ app.user.avatar }}" id="avatar" width="250" draggable="false"/></a>{% else %}<img src="{{ asset('img/icon.png')}}" id="avatar" width="250" draggable="false"/>{% endif %}
                                            </a>
                                        </div>
                                    </li>
                                {% endif %}
                            </ul>

                        </div>
                        <nav class="navbar navbar-toggleable-sm dropdown petit-menu">
                            <h1 data-toggle="dropdown"><span class="badge badge-secondary">Menu</span></h1>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/liste_add">Accueil</a>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a class="dropdown-item" href="{{ path('update_user', {'id': app.user.id}) }}">Avatar</a>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a class="dropdown-item" href="{{ path('add') }}">Ajouter</a>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                                    <a class="dropdown-item" href="/login">Login</a>
                                    <a class="dropdown-item" href="/register">S'enregistrer</a>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a class="dropdown-item" href="/logout">Sortir</a>
                                {% endif %}
                            </div>
                        </nav>

                    </div>
                </nav>


                {% if app.session.flashBag.has('notice') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for msg in app.session.flashBag.get('notice') %}
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    {% endfor %}
                </div>
                {% endif %}

            {% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}


        <!--Footer-->

        <div class="copyright">
            <div class="container">

                <div class="row text-center">
                    <p>Copyright &copy; Jimmy's Tricks 2018 | Tous droits résérvés</p>
                </div>

            </div>
        </div>


        {% endblock %}






            {% block javascripts %}

                <!-- menu déroulant -->
                <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.0/umd/popper.min.js"></script>
                <script src="js/bootstrap.min.js"></script>
                <script>
                    $('h1').mouseover(function() {
                        $(this).dropdown('toggle')
                    })
                </script>
                <!-- Les flocons de neiges -->
                <script type="text/javascript" src="{{ asset('vendor/jquery/snow.js') }}"></script>
                <script type="text/javascript">window.onload = function(){snow.init(30);};</script>
                    <!--Les tags-->
                <script type="text/javascript" src="{{ asset('vendor/jquery/images.js') }}"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="{{ asset('vendor/jquery/jquery.min.js')}}"></script>
                <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
                    <!-- flèche pour remonter -->
                <script type="text/javascript" src="{{ asset('vendor/js/arrow.js') }}"></script>
                <!-- L'agrandissement des images -->
                <script type="text/javascript" src="{{ asset('vendor/jquery/lightbox.js') }}">
                        lightbox.option({
                            'alwaysShowNavOnTouchDevices' : true
                        })
                    </script>
            {% endblock %}
        {% endblock %}
    </body>
</html>
























