
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <div class="jumbotron">
                <div class="form-group">
                    <h6 class="section-heading">
                        <span class="section-heading-upper">Laisse ton commentaire</span>
                    </h6>
                    <div class="well">

                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                        <div class=" form-group">
                            <div class="row">

                                {# Génération du label. #}
                                {{ form_label(form.author, "Auteur :", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

                                {# Affichage des erreurs pour ce champ précis. #}
                                {{ form_errors(form.author) }}

                                <div class="col-sm-12">

                                    {# Génération de l'input. #}
                                    {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
                                 </div>
                            </div>
                        </div>
                        <div class=" form-group">
                            <div class="row">
                                    {# Génération du label. #}
                                    {{ form_label(form.comment, "Commentaire :", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

                                    {# Affichage des erreurs pour ce champ précis. #}
                                    {{ form_errors(form.comment) }}

                                    <div class="col-sm-12">
                                        {# Génération de l'input. #}
                                        {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 envoyer">

                                {{ form_widget(form.save, { 'label': 'Sauvegarder', 'attr': {'class': 'btn btn-outline-primary my-2 my-sm-0 pull-right'}}) }}

                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
        {% endif %}

            <h6 class="section-heading mb-4 commentaire">
                <span class="section-heading-lower">Commentaires</span>
            </h6>

            <div class="jumbotron text-center center-div">
                <section>

                        {% for key,commentaire in trick.comments %}


                            <div class="container comment">
                                <div class="row">
                                    <div class="{% if key > 0 %} hidden {% endif %}col-sm-12">
                                        <div class="panel panel-white post panel-shadow">

                                            <div class="post-heading">
                                                <div class="pull-left image">
                                                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                                                </div>
                                                <div class="pull-left meta">
                                                    <div>
                                                        <p>Posté par <b>{{ commentaire.author }}</b></p>
                                                        <p><em class="text-muted date">le {{ commentaire.dateCom|date("d/m/Y") }}</em></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-description">
                                                <p>{{ commentaire.comment}}</p>
                                            </div>
                                        </div>
                                    </div>
                                   <!-- <i class=" fa fa-refresh fa-spin"></i>-->
                                </div>
                            </div>

                            {# Bouton pour diminuer le nombre d'affichage #}
                        {% else %}

                            <p>Il n'y a aucun commentaire pour cette figure.{% if is_granted('IS_AUTHENTICATED_FULLY') %} Sois le premièr  a laisser ton avis.{% endif %}</p>

                        {% endfor %}
                        {% if  trick.comments == true %}
                            <div class="container">
                                <div class="row">
                                    <a href="#" id="more">Afficher plus</a>
                                </div>
                            </div>
                        {% endif %}
                </section>
            </div>

        {% block javascripts %}
            {# Bouton loadMore #}
            <script>
                var more = document.querySelector('#more')
                more.addEventListener('click', function(e) {
                    e.preventDefault()
                    var commentaire = document.querySelectorAll('.hidden')
                    for (var i = 0; i < commentaire.length; i++) {
                        commentaire[i].classList.remove("hidden");
                    }
                    if ($(".more:hidden").length == 0) {
                        $("#more").fadeOut('slow');
                    }
                })
            </script>

        {% endblock %}
