{% extends 'base.html.twig' %}


{% block content %}
    <section class="page-section about-heading">
        <div class="container">
            <div class="row" id="box-search">
                <div class="thumbnail text-center">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"  src="{{ asset('img/sky.jpg') }}" alt="trick">
                    <div class="caption">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Edite ta figure</span>
                            <span class=" titre section-heading-lower">{{ trick.name }}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <span class="col-lg-3 badge badge-success edit-span">Créé le 10/10/2018</span>
                            {% if trick.images | length > 0  %}
                                <div class="album">
                                    <div class="container">
                                        <h1>Images</h1>
                                        <div class="row jumbotron">
                                            {% for image in trick.images %}
                                                <div class="petite  card col-lg-3 media">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <a href="{{ asset('uploads/'~image.path) }}" data-lightbox="roadtrip">
                                                                <img src="{{ asset('uploads/'~image.path) }}"/>
                                                            </a>
                                                        </div>
                                                        <div class="col-12">
                                                            <a href="{{ path('deleteImage', {'id': image.id}) }}" class="btn btn-danger"
                                                               data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                                               aria-controls="collapseOne">
                                                                Supprimer
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="well">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                <ul id="videos-fields-list"
                                    data-prototype="{{ form_widget(form.mediaVideos.vars.prototype)|e }}"
                                    data-widget-tags="{{ '<li></li>'|e }}">
                                    {% for videos in form.mediaVideos %}
                                        <li>
                                            {{ form_errors(videos) }}
                                            {{ form_widget(videos) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <button type="button"
                                        class="add-another-collection-widget"
                                        data-list="#videos-fields-list">Add another video
                                </button>



                                <ul class="list_ul" id="image-fields-list"
                                    data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
                                    data-widget-tags="{{ '<li></li>'|e }}">
                                    {% for image in form.images %}
                                        <li>
                                            {{ form_errors(image) }}
                                            {{ form_widget(image) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <button type="button"
                                        class="add-another-collection-widget"
                                        data-list="#image-fields-list">Add another picture
                                </button>

                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function () {
            jQuery('.add-another-collection-widget').click(function (e) {
                var list = jQuery(jQuery(this).attr('data-list'));
                // Try to find the counter of the list
                var counter = list.data('widget-counter') | list.children().length;
                // If the counter does not exist, use the length of the list
                if (!counter) { counter = list.children().length; }

                // grab the prototype template
                var newWidget = list.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, counter);
                // Increase the counter
                counter++;
                // And store it, the length cannot be used if deleting widgets is allowed
                list.data(' widget-counter', counter);

                // create a new list element and add it to the list
                var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                newElem.appendTo(list);
            });
        });
    </script>


{% endblock %}