
{% extends 'base.html.twig' %}


{% block content %}

    <section class="page-section about-heading">
        <div class="container">
            <div class="row" id="box-search">
                <div class="thumbnail text-center">
                    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"  src="{{ asset('img/sky.jpg') }}" alt="trick">
                    <div class="caption">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Edite ta figure</span>
                            <span class=" titre section-heading-lower">{{ trick.name }}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <span class="col-lg-3 badge badge-success edit-span">Créé le 10/10/2018</span>
                            {# AFFICHAGE DES IMAGES #}
                            {% if trick.images == true  %}
                            <div class="album">
                                <div class="container">
                                    <h1>Images</h1>
                                    <div class="row jumbotron">
                                        {% for image in trick.images %}
                                        <div class="petite  card col-lg-3 media">
                                            <div class="row">
                                                <div class="col-12">
                                                    <a href="{{ asset('uploads/'~image.path) }}" data-lightbox="roadtrip">
                                                    <img src="{{ asset('uploads/'~image.path) }}"/></a>
                                                </div>
                                                <div class="col-12">
                                                    <a href="{{ path('deleteImage', {'id': image.id}) }}" >
                                                        <button class="btn btn-danger" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                            Supprimer
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {# AFFICHAGE DES VIDEOS #}
                                    {% if trick.mediaVideos == true  %}
                                    <h1>Videos</h1>
                                    <div class="row jumbotron">
                                        {% for video in trick.mediaVideos %}
                                        <div class="petite  card col-lg-3 media">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="col-lg-3 media">
                                                        {{ video.video|raw }}
                                                    </div>
                                                </div>
                                                <div class="col-12" id="videos">
                                                    <a href="{{ path('deleteVideo', {'id': video.id}) }}" class="btn btn-danger delete-item" data-id="{{ video.id }}">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                                {% endif %}
                                {# FORMULAIRE #}
                                <div class="well">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                    <div class="form-group">
                                        <div class="row">
                                            {# Génération du label. #}
                                            {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                            {# Affichage des erreurs pour ce champ précis. #}
                                            {{ form_errors(form.description) }}
                                            <div class="col-sm-10">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.description, {'attr': {'class': 'form-control rows="4" cols="50"'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            {# Génération du label. #}
                                            {{ form_label(form.groupe, "Groupe :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                            {# Affichage des erreurs pour ce champ précis. #}
                                            {{ form_errors(form.groupe) }}
                                            <div class="col-sm-10">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.groupe, {'attr': {'class': 'form-control'}}) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ajout-media">
                                        {# VIDEO #}
                                        <ul class="list_ul" id="video-fields-list"
                                            data-prototype="{{ form_widget(form.mediaVideos.vars.prototype)|e }}"
                                            data-widget-tags="{{ '<li></li>'|e }}">
                                            {% for video in form.mediaVideos %}
                                                <li>
                                                    {{ form_errors(video) }}
                                                    {{ form_widget(video) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <div class="col-sm-7">
                                        <a href="#"
                                           class=" btn btn-info add-another-collection-widget_video"
                                           data-list="#video-fields-list">Ajouter une video</a>
                                        </div>
                                        {# IMAGE #}
                                        <ul class="list_ul" id="image-fields-list"
                                            data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
                                            data-widget-tags="{{ '<li></li>'|e }}">
                                        </ul>
                                        <div class=" col-sm-7">
                                            <a href="#"
                                               class="image_btn btn btn-info add-another-collection-widget"
                                               data-list="#image-fields-list">Ajouter une image
                                            </a><br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 envoyer">
                                            {{ form_widget(form.save, { 'label': 'Mettre à jour', 'attr': {'class': 'btn btn-signup  my-2 my-sm-0 pull-right'}}) }}
                                        </div>
                                        <a href="{{ path('delete', {'id': trick.id}) }}"><button type="button" class=" col-sm-12 btn btn-danger supprimer" >
                                          Supprimer
                                        </button></a>
                                    </div>
                                {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/js/add_media.js') }}"></script>
{% endblock %}