{% extends 'base.html.twig' %}

    {% block content %}

        <section class="page-section about-heading list-head">
            <header class="masthead" style="background-image: url('{{ asset('img/mont.jpg ')}}')">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto bannier">
                            <div class="site-heading">
                                <h1>If dreams don't scare you, they're not big enough.</h1>
                                <span class="subheading"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="barre"></div>
        </section>
        <div class="album text-muted">
            <div class="container">
                 <div class="row">

                {% for  key,trick in tricks %}

                    <div class="{% if key > 9 %} hidden {% endif %}col-md-6 col-lg-4 col-sm-6 card-border ">
                        <div class="card center-block col-md-auto">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                                <div class="row bouton-cadre">
                                    <div>
                                        <a href="{{ path('edit', {'id': trick.id}) }}" class="snip1489"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    </div>
                                    <div>
                                        <a href="{{ path('delete', {'id': trick.id}) }}" class="snip1489"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            {% endif %}
                            <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                                <div class="avatar">
                                    <a href="{{ path('show', {'id':trick.id}) }}"><img src="{{ asset('img/big-air-jump.jpg') }}" alt="" /></a>
                                </div>
                                <div class="content">
                                    <p>{{ trick.name }}</p>
                                </div>
                        </div>
                    </div>

                {% endfor %}

                {# Flèche pour remonter en haut #}
                <div><a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a></div>

                {# Bouton pour diminuer le nombre d'affichage #}
                <div class="container">
                    <div class="wrap">
                        <a href="#"  id="more" class="button2">Afficher Plus</a>
                    </div>
                </div>

                {# Flèche pour remonter en haut #}
                     <div><a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a></div>
        </div>
    </div>
    {% endblock %}
    {# Script pour le bouton 'Load More' #}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('vendor/js/trickLoadMore.js') }}"></script>
    {% endblock %}


