

{% extends 'base.html.twig' %}

       {% block content %}

           <section class="jumbotron text-center">
               <div class="container">
                   <h1 class="jumbotron-heading">If dreams don't scare you, they're not big enough.</h1>
               </div>
           </section>
           <div class="album text-muted">
               <div class="container">
                   <div class="row">
                       {% block list %}
                            {% for  tricks in repository %}
                                <div class="col-sm-3">
                                    <div class="card">
                                        {# Bouton d'édition et de suppression d'une figure #}
                                        <div class="row bouton-cadre pull-right">
                                            <div class="col-sm-1">
                                                <a href="{{ path('edit', {'id': tricks.id}) }}" class="snip1489"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="{{ path('delete', {'id': tricks.id}) }}" class="snip1489"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                                        <div class="avatar">
                                           <a href="{{ path('show', {'id':tricks.id}) }}"><img src="{{ asset('img/bg.jpg') }}" alt="" /></a>
                                        </div>
                                        <div class="content">
                                            <p>{{ tricks.name }}</p>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                            {# Bouton pour afficher plus de résultats #}
                               <div class="container">
                                   <div class="row">
                                       <div class="wrap">
                                           <a href="{{ path('list_add')}}" class="button1"></i>Afficher plus</a>
                                       </div>
                                   </div>
                               </div>

                       {% endblock %}
                   </div>
               </div>
           </div>
       {% endblock %}



