
{% extends 'list.html.twig' %}

    {% block list %}

        {% for  key,tricks in repository %}
            <div class="{% if key > 9 %} hidden {% endif %}col-sm-4">
                <div class="card">
                    <div class="row bouton-cadre pull-right">
                        <div class="col-sm-1">
                            <a href="{{ path('edit', {'id': tricks.id}) }}" class="snip1489"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-sm-1">
                            <a href="{{ path('delete', {'id': tricks.id}) }}" class="snip1489"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
                    <div class="avatar">
                        <a href="{{ path('show', {'id':tricks.id}) }}"><img src="{{ asset('img/ng.jpg') }}" alt="" /></a>
                    </div>
                    <div class="content">
                        <p>{{ tricks.name }}</p>
                    </div>

                </div>
            </div>
        {% endfor %}
            {# Bouton pour diminuer le nombre d'affichage #}
        <div class="container">
            <div class="row">
                <a href="#" id="more">Afficher plus</a>


            </div>
        </div>


        {# Flèche pour remonter en haut #}
        <div><a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a></div>

    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script>
            var more = document.querySelector('#more')
            more.addEventListener('click', function(e) {
                e.preventDefault()
                var tricks = document.querySelectorAll('.hidden')
                for (var i = 0; i < tricks.length; i++) {
                    tricks[i].classList.remove("hidden");
                }
                if ($(".more:hidden").length == 0) {
                    $("#more").fadeOut('slow');
                }
            })
        </script>

    {% endblock %}

