{# templates/show.html.twig #}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}





    <p>{{ trick.id }}</p>
    <p>{{ trick.name }}</p>
    <p>{{ trick.description }}</p>
    <p>{{ trick.groupe }}</p>




    <div>

        {% for message in app.session.flashbag.get('notice') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>

    {% for image in trick.images %}

   <img

            src="{{ asset('uploads/'~image) }}"


    />

    {% endfor %}

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>

