

   {% extends 'base.html.twig' %}

       {% block content %}

              <section class="page-section about-heading">
               <div class="container">
                   <div class="row" id="box-search">
                       <div class="thumbnail text-center">

                           <img class="img-responsive thumbnail text-center img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ asset('img/sky.jpg') }}" alt=""/>

                           <div class="caption">
                               <h2 class="section-heading mb-4">
                                   <span class="section-heading-upper">Figure</span>
                                   <span class="titre section-heading-lower">{{ trick.name }}</span>
                               </h2>
                           </div>

                           {# Bouton d'édition visible uniquement aux inscrits #}
                           {% if is_granted('ROLE_USER') %}
                           <div class="caption_button pull-right btn-group btn-group-sm" role="group" aria-label="Basic example">

                               <button type="button" class="btn btn-default" aria-label="right Align">
                                   <a href="{{ path('edit', {'id': trick.id}) }}" class="snip1489"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                               </button>

                                <button type="button" class="btn btn-default" aria-label="right Align">
                                    <a href="{{ path('delete', {'id': trick.id}) }}" class="snip1489"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                   </button>
                           </div>
                           {% endif %}
                       </div>
                   </div>
                   <div class="about-heading-content">
                       <div class="row">
                           <div class="col-xl-10 col-lg-11 mx-auto">
                               <div class="bg-faded rounded p-5">
                               {# Images et vidéos de la figure , affichées si elles existent #}
                                   {% if trick.images == true and trick.videos == true %}
                                       <div class="album">
                                           <div class="container">
                                               <div class="row jumbotron">

                                                       {% for image in trick.images %}
                                                           <div class="petite  card col-lg-3">
                                                               <a href="{{ asset('uploads/'~image.filename) }}" data-lightbox="roadtrip"><img src="{{ asset('uploads/'~image.filename) }}"/></a>
                                                           </div>
                                                       {% endfor %}

                                                       {% for video in trick.videos %}
                                                           <div class="card col-lg-3">
                                                               <iframe src="{{ video }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                                           </div>
                                                       {% endfor %}

                                               </div>
                                           </div>
                                       </div>
                                   {% endif %}

                                   <div class="form_row">
                                       <div class="row jumbotron text-center">
                                           <div>{{ trick.description }}</div>
                                       </div>
                                       <div class="row section-heading mb-4 text-center center-div">
                                            <div class="col-lg-12">
                                               <span class="col-lg-3 badge badge-primary">{{ trick.groupe }}</span>
                                               <span class="col-lg-3 badge badge-success">Créé le {{ trick.date|date("d/m/Y") }}</span>

                                                 {% if trick.updatedAt == true %}
                                                   <span class="col-lg-3 badge badge-warning">Modifié le {{ trick.updatedAt|date("d/m/Y") }}</span>
                                                 {% else %}
                                                   <span class="col-lg-3 badge badge-warning">Aucune modification</span>
                                                 {% endif %}
                                            </div>
                                       </div>
                                       {# Page incluant les commentaires #}
                                          {% include 'commentaire.html.twig' %}

                                    </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section>
       {% endblock %}



