

   {% extends 'base.html.twig' %}

       {% block content %}

              <section class="page-section about-heading">
               <div class="container">
                   <div class="row" id="box-search">
                       <div class="thumbnail text-center">

                           <img class="img-responsive thumbnail text-center img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ asset('img/sky.jpg') }}" alt=""/>

                           <div class="caption">
                               <h2 class="section-heading mb-4">
                                   <span class="section-heading-upper">Figure</span>
                                   <span class="titre section-heading-lower">{{ trick.name }}</span>
                               </h2>
                           </div>
                           {# Bouton d'édition visible uniquement aux inscrits #}
                           <div class="caption_button pull-right btn-group btn-group-sm" role="group" aria-label="Basic example">

                               <button type="button" class="btn btn-default" aria-label="right Align">
                                   <a href="{{ path('edit', {'id': trick.id}) }}" class="btn btn-default">
                                       <i class="fa fa-pencil" aria-hidden="true"></i></a>
                               </button>
                              {#<a href="{{ path('', {'id': trick.id}) }}" class="btn btn-default">#}

                                <button type="button" class="btn btn-default" aria-label="right Align">
                                    <a href="">  <i class="fa fa-trash-o" aria-hidden="true"> </i></a>
                                   </button>

                           </div>

                       </div>
                   </div>
                   <div class="about-heading-content">
                       <div class="row">
                           <div class="col-xl-10 col-lg-11 mx-auto">
                               <div class="bg-faded rounded p-5">
                                   <div class="album">
                                       <div class="container">
                                           <div class="row jumbotron">

                                                   {% for image in trick.images %}

                                                   <div class="petite  card col-lg-3">
                                                       <img src="{{ asset('uploads/'~image.filename) }}"/>
                                                   </div>

                                                   {% endfor %}
                                                   {% for video in trick.videos %}
                                                       <div class="card col-lg-3">
                                                           <iframe src="{{ video }}" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                                       </div>
                                                   {% endfor %}

                                           </div>
                                       </div>
                                   </div>

                                   <div class="form_row">
                                       <div class="row jumbotron text-center">
                                           <div class="col-lg-12">{{ trick.description }}</div>
                                       </div>
                                       <div class="row section-heading mb-4 text-center center-div">
                                            <div class="col-lg-12">
                                               <span class="col-lg-3 badge badge-primary">{{ trick.groupe }}</span>
                                               <span class="col-lg-3 badge badge-success">Créé le 10/10/2018</span>
                                               <span class="col-lg-3 badge badge-warning">Modifié le 11/10/2018</span>
                                            </div>
                                       </div>
                                       <div class="jumbotron">

                                           <div class="form-group">
                                               <label for="comment">Laisse ton commentaire:</label>
                                               <textarea class="form-control" rows="5" id="comment"></textarea>
                                           </div>
                                               <button class="btn btn-outline-primary my-2 my-sm-0 float-right" type="submit">Envoyer</button>

                                       </div>
                                       <div class="jumbotron text-center center-div">



                                               <section class="comments" id="comments">

                                                   <h3>Ajoute un commentaire</h3>

                                                {# {{  render(controller('App\\Controller\\CommentController::new', {'trick_id' : trick.id})) }}
                                                   #}

                                               </section>




                                           <div>
                                               {% for message in app.session.flashbag.get('notice') %}
                                                   <p>Message flash : {{ message }}</p>
                                               {% endfor %}
                                           </div>

                                           <i class="fa fa-refresh fa-spin"></i>




                                    </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section>
       {% endblock %}



