
{% extends 'base.html.twig' %}

{% block content %}

    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"  src="{{ asset('img/sky.jpg') }}" alt="">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Ajoute ta</span>
                                <span class="section-heading-lower">Figure</span>
                            </h2>
                            <div class="well">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                <div class=" form-group">
                                    <div class="row">
                                        {# Génération du label. #}
                                        {{ form_label(form.name, "Nom :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.name) }}
                                        <div class="col-sm-10">
                                        {# Génération de l'input. #}
                                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        {# Génération du label. #}
                                        {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.description) }}
                                        <div class="col-sm-10">
                                        {# Génération de l'input. #}
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control rows="4" cols="50"'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        {# Génération du label. #}
                                        {{ form_label(form.groupe, "Groupe :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.groupe) }}
                                        <div class="col-sm-10">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.groupe, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="ajout-media">
                                    {# Videos #}
                                    <ul class="list_ul" id="video-fields-list"
                                        data-prototype="{{ form_widget(form.mediaVideos.vars.prototype)|e('html_attr') }}"
                                        data-widget-tags="{{ '<li></li>'|e }}">
                                        {% for video in form.mediaVideos %}
                                            <li>
                                                {{ form_errors(video) }}
                                                {{ form_widget(video) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="col-sm-7">
                                        <a href="#" class=" btn btn-info add-another-collection-widget_video"
                                           data-list="#video-fields-list">Ajouter une video</a>
                                    </div>

                                    {# IMAGES #}
                                    <ul class="list_ul" id="image-fields-list"
                                        data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"
                                        data-widget-tags="{{ '<li></li>'|e }}"></ul>


                                    </ul>
                                <ul class="list_ul" id="image-fields-list"
                                    data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
                                    data-widget-tags="{{ '<li></li>'|e }}">
                                </ul>
                                <div class=" col-sm-7">
                                    <a href="#" class=" image_btn btn btn-info add-another-collection-widget"
                                       data-list="#image-fields-list">Ajouter une image
                                    </a><br>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-sm-12 envoyer">
                                    {{ form_widget(form.save, { 'label': 'Sauvegarder', 'attr': {'class': 'btn  my-2 my-sm-0 pull-right btn-signup '}}) }}
                                </div>
                            </div>
                            <div class="hidden">
                                {{ form_rest(form) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/js/add_media.js') }}"></script>
{% endblock %}