
{% extends 'base.html.twig' %}

{% block content %}
<section class="page-section about-heading">
    <div class="container">
        <div class="row" id="box-search">
            <div class="thumbnail text-center">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0"  src="{{ asset('img/sky.jpg') }}" alt="trick">
                <div class="caption">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Edite ta figure</span>
                        <span class="titre section-heading-lower">{{ trick.name }}</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <span class="col-lg-3 badge badge-success ">Créé le 10/10/2018</span>
                        {# AFFICHAGE DES IMAGES #}
                        <div class="album">
                            <div class="container">
                                {# PETIT ECRAN - CONTAINER IMAGES #}
                                {% if trick.hasImages  %}{# Si images éxistants #}
                                    <div class="container media-petit-ecran">
                                        <div class="panel panel-default">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="row toggle" id="dropdown-detail-1" data-toggle="detail-1">
                                                        <div class="col-xs-10">
                                                            Images
                                                        </div>
                                                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                                                    </div>
                                                    <div id="detail-1">
                                                        <hr></hr>
                                                        <div class="container">
                                                            <div class="fluid-row">
                                                                <div class="col-xs-5">
                                                                    {# Liste images #}
                                                                    {% for image in trick.images %}
                                                                        <div class="petite col-lg-4 media center-block marge">
                                                                            <div class="row marge">
                                                                                <div class=" col-12">
                                                                                    <a href="{{ asset('uploads/'~image.path) }}" data-lightbox="roadtrip">
                                                                                    <img class="marge" src="{{ asset('uploads/'~image.path) }}"/></a>
                                                                                </div>
                                                                                <div class="col-12">
                                                                                    <a href="{{ path('deleteImage', {'id': image.id}) }}" >
                                                                                        <button class="btn btn-danger btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                                                            Supprimer
                                                                                        </button>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                {# Fin petit ecran images #}
                                {# PETIT ECRAN - CONTAINER VIDEOS #}
                                {% if trick.hasVideos  %}{# Si elles existents #}
                                    <div class="container media-petit-ecran">
                                        <div class="panel panel-default">
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="row toggle" id="dropdown-detail-2" data-toggle="detail-2">
                                                        <div class="col-xs-10">
                                                            Videos
                                                        </div>
                                                        <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i></div>
                                                    </div>
                                                    <div id="detail-2">
                                                        <hr></hr>
                                                        <div class="container">
                                                            <div class="fluid-row">
                                                                <div class="col-xs-5">
                                                                    {# Liste videos #}
                                                                    {% for video in trick.mediaVideos %}
                                                                        <div class="petite col-lg-4 media center-block ">
                                                                            <div class="row marge">
                                                                                <div class="col-12">
                                                                                    {{ video.video|raw }}
                                                                                </div>
                                                                                <div class="col-12" id="videos">
                                                                                    <a href="{{ path('deleteVideo', {'id': video.id}) }}" class="btn btn-danger btn-block delete-item" data-id="{{ video.id }}">
                                                                                        Supprimer</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                                {# Fin petit ecran videos #}
                                {# GRAND ECRAN - CONTAINER IMAGES & VIDEOS  #}
                                {% if trick.hasImages  %}
                                <h1 class="marge media-grand-ecran">Images</h1>
                                <div class="row media-grand-ecran jumbotron">
                                {% for image in trick.images %}
                                    <div class="petite col-lg-4 media center-block ">
                                        <div class="row marge">
                                            <div class="  col-12">
                                                <a href="{{ asset('uploads/'~image.path) }}" data-lightbox="roadtrip">
                                                <img src="{{ asset('uploads/'~image.path) }}"/></a>
                                            </div>
                                            <div class="col-12">
                                                <a href="{{ path('deleteImage', {'id': image.id}) }}" >
                                                    <button class="btn btn-danger btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Supprimer
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                                {% endif %}
                                {# AFFICHAGE DES VIDEOS #}
                                {% if trick.hasVideos  %}
                                <h1 class="marge media-grand-ecran">Videos</h1>
                                <div class="row media-grand-ecran jumbotron">
                                    {% for video in trick.mediaVideos %}
                                    <div class="col-lg-4 media marge">
                                        <div class="row ">
                                            <div class="col-12">
                                                    {{ video.video|raw }}
                                            </div>
                                            <div class="col-12" id="videos">
                                                <a href="{{ path('deleteVideo', {'id': video.id}) }}" class="btn btn-danger btn-block delete-item" data-id="{{ video.id }}">
                                                Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>

                            {# FORMULAIRE #}
                            <div class="well">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                <div class="form-group">
                                    <div class="row">
                                        {# Génération du label. #}
                                        {{ form_label(form.description, "Description :", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.description) }}
                                        <div class="col-sm-12">
                                        {# Génération de l'input. #}
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control rows="4" cols="50"'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        {# Génération du label. #}
                                        {{ form_label(form.groupe, "Groupe :", {'label_attr': {'class': 'col-sm-12 control-label'}}) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.groupe) }}
                                        <div class="col-sm-12">
                                        {# Génération de l'input. #}
                                        {{ form_widget(form.groupe, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="ajout-media">
                                    {# VIDEO #}
                                    <ul class="list_ul col-sm-12" id="video-fields-list"
                                        data-prototype="{{ form_widget(form.mediaVideos.vars.prototype)|e }}"
                                        data-widget-tags="{{ '<li></li>'|e }}">
                                        {% for video in form.mediaVideos%}
                                            <div>
                                                {{ form_errors(video) }}
                                            </div>
                                        {% endfor %}
                                    </ul>
                                    <div class="col-sm-12">
                                    <a href="#"
                                       class=" btn btn-info add-another-collection-widget_video"
                                       data-list="#video-fields-list">Ajouter une video</a>
                                    </div>
                                    {# IMAGE #}
                                    <ul class="list_ul   col-sm-12" id="image-fields-list"
                                        data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
                                        data-widget-tags="{{ '<li></li>'|e }}">
                                    </ul>
                                    <div class="col-sm-12">
                                        <a href="#"
                                           class="image_btn btn btn-info add-another-collection-widget"
                                           data-list="#image-fields-list">Ajouter une image
                                        </a><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 envoyer">
                                        {{ form_widget(form.save, { 'label': 'Mettre à jour', 'attr': {'class': 'btn btn-success col-sm-12 button2'}}) }}
                                    </div>
                                    <a href="{{ path('delete', {'id': trick.id}) }}"><button type="button" class=" col-sm-12 btn btn-danger supprimer" >
                                      Supprimer
                                    </button></a>
                                </div>
                               <div class="hidden">
                                   {{ form_rest(form) }}
                               </div>
                            {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('vendor/js/add_media.js') }}"></script>
    <script type="text/javascript" src="{{ asset('vendor/js/petit_ecran_media.js') }}"></script>

{% endblock %}