{% extends 'base.html.twig' %}

{% block content %}
<section class=" bannierRegister ">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-6 col-lg-6 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower">S'inscrire</span>
                        </h2>
                        <div class="container well">
                            <div class="regist-border">
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                 <div class="form-group">
                                     <div class="row">
                                         {# Affichage des erreurs pour ce champ précis. #}
                                         {{ form_errors(form.username) }}
                                         <div class="col-sm-10">
                                             {# Génération de l'input. #}
                                             {{ form_widget(form.username, {'attr': {'class': 'regist regist-border col-sm-12',  'placeholder': 'Login ' }}) }}
                                         </div>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="row">
                                         {# Affichage des erreurs pour ce champ précis. #}
                                     {{ form_errors(form.email) }}
                                     <div class="col-sm-10">
                                         {# Génération de l'input. #}
                                         {{ form_widget(form.email, {'attr': {'class': ' regist col-sm-12', 'placeholder': 'Email '}}) }}
                                     </div>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="row">
                                         {# Affichage des erreurs pour ce champ précis. #}
                                         {{ form_errors(form.plainPassword.first) }}
                                         <div class="col-sm-10">
                                             {# Génération de l'input. #}
                                             {{ form_widget(form.plainPassword.first, {'attr': {'class': 'regist col-sm-12', 'placeholder': 'Mot de passe '}}) }}
                                         </div>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="row">
                                         {# Affichage des erreurs pour ce champ précis. #}
                                         {{ form_errors(form.plainPassword.second) }}
                                         <div class="col-sm-10">
                                             {# Génération de l'input. #}
                                             {{ form_widget(form.plainPassword.second, {'attr': {'class': 'regist regist-border-2 col-sm-12 ', 'placeholder': 'Confirmation du mot de passe '}}) }}
                                         </div>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <div class="row">
                                         <div class="col-sm-11 envoyer">
                                             {{ form_widget(form.save, { 'label': 'Envoyer', 'attr': {'class': 'button2  btn-signup  formul pull-right'}}) }}
                                         </div>
                                     </div>
                                 </div>
                             {{ form_end(form) }}
                            </div>
                            <p>Déjà inscrit?<a class="lien-login" href="{{ path('login') }}">Se connecter</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
